@import '../variables';
@import '../mixins';

form {
    position: relative;
    div.tooltip{
        width: 200px;
        height: auto;
        position: absolute;
        top: 50%;
        left: -220px;
        background-color: rgba(77,71,56, 0.5);
        color: #fff;
        padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        box-sizing: border-box;
        border-radius: 5px;
        font-size:0.8rem;
        font-weight:100;     
        opacity: 0;
        transition: all 300ms ease;
    }
    .tooltip::after {
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        left: 100%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(77,71,56, 0.7);
    }
    .tooltip.tooltip_opened{
        opacity: 1;
    }
}    
div.restore-form {
    text-align: center;
    .link-login {
        @include span-link;
    }
    .fontawesome {
        position: absolute;
        margin-top: 0.1rem;
        right: $xxs;
        color: $middle-brown;
    }
}