// colors:

$light: #f0eee8;
$middle-light: #baafaf;
$brown: #3f2020;
$middle-brown: #766d6d; 
$red: #bf2323;
$yellow: #ffa500;
$white: #fff;
$blue: #7282ff;

// fonts:

$font-large: 2.8rem;
$font-large-title: 2rem;
$font-title: 1.5rem;
$font-middle: 1.1rem;
$font-default: 1rem;
$font-small: 0.9rem;
$font-xs: 0.8rem;

// margins, paddings:

$xxxs: 0.3rem;
$xxs: 0.6rem;
$xs: 1.1rem;
$small: 1.5rem;
$average: 2rem;
$large: 2.5rem;